<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        table,td,th {
            border: 1px black solid;
        }

        th {
            font-weight: bolder;
        }

        td,th {
            padding: 5px;
        }

    </style>

</head>
<body>
    <h1>Users</h1>

    <ul>
        <li><a href="/add">Add</a></li>
        <li><a href="/">List</a></li>
    </ul>
    <br>